{% extends "base.html" %}

{% block title %}TCR Descomplicado{% endblock %}

{% block head %}
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<style>
    .equation-row .eq-input { width: 120px; text-align: center; }
    .equation-row .num-input { width: 60px; text-align: center; }
</style>
{% endblock %}

{% block content %}
<h1>Digite seu sistema de equações</h1>

<div class="equation-container">
    <div id="equations-list">
        <div class="equation-row">
            <input type="text" class="eq-input" value="x" placeholder="Ex: 2x + 1">
            ≡ <input type="text" class="num-input" value="2" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
            (mod <input type="text" class="num-input" value="3" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">)
            <button class="btn-remove" onclick="removeEquation(this)">✖</button>
        </div>
        <div class="equation-row">
            <input type="text" class="eq-input" value="x" placeholder="Ex: 2x + 1">
            ≡ <input type="text" class="num-input" value="3" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
            (mod <input type="text" class="num-input" value="5" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">)
            <button class="btn-remove" onclick="removeEquation(this)">✖</button>
        </div>
        <div class="equation-row">
            <input type="text" class="eq-input" value="x" placeholder="Ex: 2x + 1">
            ≡ <input type="text" class="num-input" value="2" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
            (mod <input type="text" class="num-input" value="7" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">)
            <button class="btn-remove" onclick="removeEquation(this)">✖</button>
        </div>
    </div>
    <div id="mensagem-erro"></div>
    <button class="btn btn-add" onclick="addEquation()">+ Adicionar equação</button>
    <button class="btn btn-generate" onclick="generateSteps()">GERAR PASSO A PASSO</button>
</div>

<div id="solution-container"></div>
{% endblock %}